[Unit]
Description=firewall
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/firewall start
ExecStop=/usr/local/bin/firewall stop

[Install]
WantedBy=network-online.target
