[Unit]
Description=firewall

[Service]
Type=notify
RemainAfterExit=yes
ExecStart=/usr/local/bin/firewall start
ExecStop=/usr/local/bin/firewall stop

[Install]
WantedBy=multi-user.target
