[Unit]
Description=firewall

[Service]
Type=notify
NotifyAccess=all
RemainAfterExit=yes
ExecStart=/usr/local/bin/firewall start
ExecStop=/usr/local/bin/firewall stop
ExecReload=/usr/local/bin/firewall start

[Install]
WantedBy=multi-user.target
